

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.login-form a{
    color: #FBBF24 ;
}