

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    /* margin-top: 3rem; */
}

.signup-form a{
    color: var(--btn);
}

.signup-form select{
    margin-left: 10px;
}

.signup-page h1{
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 400;

}

.signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}