

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.signup-form a{
    color: var(--btn);
}

.signup-form select{
    margin-left: 10px;
}