

body{
      
    font-family: "Playpen Sans Hebrew", cursive;
    font-optical-sizing: auto;    font-style: normal;
    font-weight: 200;
    margin: 0;
    background-color: #0A0F1F;
    color: white;
    
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}