

body{
      
    font-family: "Amatic SC", sans-serif;
    font-style: normal;
    margin: 0;
    background-color: #0A0F1F;
    color: white;
    
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}