

body{
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family:fantasy ;
    margin: 0;
    background-color: #0A0F1F;
    color: white;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}