button {
	/* padding: .5em .8em;
	border: 0;
	margin: .5em;
	cursor: pointer;
	background-color: var(--clr1);
	color: whitesmoke; */
    background-color: var(--btn);
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;

}

button:hover {
	transition: 0.3s;
    background-color: ver(--btn-hover);
}


input, select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-size: 1rem
};

