


.song-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    gap: 1rem;
    list-style: none;
    justify-content: center;
    padding: 0 30px;
}

.song-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.song-list li{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBBF24;
    border-radius: 0.7rem;
    margin: 0;
    padding: 5px;
}

.song-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;

}