.user-msg {
    background-color: lightgray;
    padding: 0.3rem 1rem;
    gap: 20px;
    position: fixed;
    top: 4rem;
    right: 1em;
    color: white;
    border-radius: 2px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    animation: slideDown 0.2s ease-out forwards;
}

.user-msg.success {
    background-color: #d4edda; 
    color: #155724;  
    border: 2px solid darkgreen;          
  }
  
  .user-msg.error {
    background-color: #efbec2; 
    color: #721c24;  
    border: 2px solid #ac0a0a;          
  }

.user-msg button {
    font-size: 1em;
    margin: .2em;


}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* .user-msg {
   
} */